*.exe
.tmp.driveupload/
ESPSOURCECODE.cpp
$RECYCLE.BIN/
C Lang/.vscode/
C++/.tmp.driveupload
Kotlin/.idea
Kotlin/.idea
Python/UmeshSirClasses/__pycache__
Python/Projects/ProjectBMS
desktop-tutorial/
.venv/
.vscode/
Meta-Llama-3.1-8B-Instruct/
Meta-Llama-3-8B/
System Volume Information/
Thumbs.db
desktop.ini
LearningForKrishna/NeilSirClasses/ZeroToHeroInterpretations
/Projects/ProjectBMS
